@use "sass:math";

// Переменые ===============================================================================================================================================================================================================================================================================================
@import "variables";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "mixins";

// fonts
@import "fonts";

//resets
@import "reset";



// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
html {
	height: 100%;

	body {
		min-height: 100%;
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		@include font-default();
		// Прижимаем footer
		> main {
			flex: 1 1 auto;
		}
	}

	// Ограничивающий контейнер ======================================================================================================================================================================================================================
	.container {
		max-width: $maxWidthContainer + px;
		width: 100%;

		margin-left: auto;
		margin-right: auto;
		padding-left: $containerPadding + px;
		padding-right: $containerPadding + px;
	}




}

