// Основные цвета
$accent: #186EA1;
$accent2: #02AA8A;

@mixin gradient($deg: 180) { background: linear-gradient($deg + deg, #00AF88 0%, #1A6BA3 100%); }

// Минимальная ширина страницы
$minWidth: 350;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера + padding (0 = нет ограничения)
$maxWidthContainer: 1200;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 10;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S
