// верхний бургер
.cat-menu-box {


	.btn {
		margin-left: 22px;
		min-height: 50px;
		gap: 13px;
		display: flex;
		align-items: center;
		padding: 0 25px;
		font-weight: 400;
		background-color: #FF9900;
	}

	&.show {
		.cat-menu {
			opacity: 1;
			visibility: visible;
			&__nav {
				display: block;
			}
		}
		.burger {
			span, &::before, &::after {
				transition: transform 0s ease-in-out;
			}

			span {
				transform: translateY(0) rotate(-45deg);
			}

			&::after {
				display: none;
			}

			&::before {
				top: 50%;
				transform: rotate(45deg);
			}


		}
	}

	.burger-button {
		position: relative;
		display: block;
		width: 20px;
		height: 10px;
		margin-top: -5px;
		cursor: pointer

	}

	.burger {
		width: 16px;
		height: 14px;
		position: relative;
		cursor: pointer;

		span, &::before, &::after {
			position: absolute;
			left: 0;
			display: inline-block;
			min-width: 100%;
			transform: rotate(0);
			height: 2px;
			background-color: #000;
			content: '';
			// transition: transform .25s ease-in-out;
		}

		span {
			top: 50%;
			transform: translateY(-50%);

		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}




	}

	.cat-menu {
		opacity: 0;
		visibility: hidden;
		height: 0;
		width: 100%;



		&__nav {
			background-color: #fff;
			padding-top: 8px;
			position: absolute;
			bottom: -1px;
			left: 0;
			right: 0;
			transform: translateY(100%);
			z-index: 100;
			width: 100%;
			display: none;
			padding-left: calc((100% - 1440px) / 2);


			&::before {
			    position: absolute;
			    top: 0;
				left: 0;
				width: calc(((100% - 1440px) / 2) + 330px);
				z-index: -1;
				height: 100%;
				background-color: #F5F5F6;
				content: '';
			}





			li {
				font-size: 18px;
				font-weight: 400;
				border-radius: 5px;
				margin-bottom: 5px;
				transition: all .3s;
			}


			// 1 уровень
			& > ul {
				.grid-submenu {
					top: 0;
					position: absolute;
					left: 580px;
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					width: 100%;
					max-width: 920px;
					color: #000;

					& > ul:nth-child(2), & > ul:nth-child(3) {
						margin-top: 60px;
						.submenu {
							cursor: pointer;


						}
					}
				}

				& > li {
					display: flex;
					justify-content: space-between;

					min-height: 43px;
					font-size: 18px;
					width: 330px;
					a {
						display: flex;
						align-items: center;
						gap: 12px;
						line-height: 1;
						width: 100%;
						padding: 0 15px 0 12px;
						font-weight: 500;
						&:hover {
							background-color: #FFF;
							opacity: 1;
							color: #000;
						}
						&.active {
							background-color: #fff;
							color: #F90;
							border-right: 2px solid #F90;
						}
					}
					.icon-box {
						min-width: 25px;
						min-height: 25px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
					span {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-left: auto;
						&::before {
							width: 7px;
							height: 15px;
							background: url("../img/icon/icon-menu/arr-top-level.svg");
							content: '';
						}

					}
					&.new {
						.item__caption {
							color: #FFF;
							font-size: 14px;
							font-weight: 600;
							padding: 7px;
							border-radius: 5px;
							background: #4FB159;
						}
					}
					&.hit {
						.item__caption {
							color: #FFF;
							font-size: 14px;
							font-weight: 600;
							padding: 7px;
							border-radius: 5px;
							background: #FF5656;
						}
					}



				}

			}

			// 2 уровень
			& .grid-submenu > ul {

				a {
					font-size: 18px;
					font-weight: 600;
					min-height: 50px;
					padding: 0;
					&:hover {
						color: #F90;
						span {
							&::before {
								background: url("../img/icon/icon-menu/arr-sub-level-active.svg") no-repeat;
							}
						}
					}
				}



				& > li {
					justify-content: flex-start;
					gap: 8px;
					span {
						display: flex;
						align-items: center;
						justify-content: center;
						margin-left: inherit;
						&::before {
							width: 4px;
							height: 8px;
							background: url("../img/icon/icon-menu/arr-sub-level.svg") no-repeat;
							content: '';
						}
						position: relative;
						&::after {
						    position: absolute;
						    top: 0;
							left: 0;
							width: 57px;
							height: 100%;
							content: '';
						}

					}

					&.main-cat {
						margin-bottom: 10px;
						a {
							font-size: 28px;
						}
						span {
							display: flex;
							align-items: center;
							justify-content: center;
							&::before {
								width: 7px;
								height: 15px;
								position: relative;
								top: 2px;
								background: url("../img/icon/icon-menu/arr-top-level.svg");
								content: '';
							}

						}
					}
					// 3 уровень
					& > ul {
						li {
							a {
								font-weight: 400;
								line-height: 40px;
								min-height: inherit;
							}
						}
					}

				}



			}






			.submenu {
				cursor: pointer;
				ul {
					opacity: 0;
					visibility: hidden;
					height: 0;
					&.show {
						opacity: 1;
						height: auto;
						visibility: visible;
						.cat-menu__nav-submenu span {
							outline: 1px solid red;
						}
					}
				}

			}



		}


	}
}
