.item-product {
	padding-top: 12px;
	padding-left: 12px;

	&-img-box {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		span {
			display: flex;
			align-items: center;
			position: absolute;
			background-color: #FF2727;
			color: #fff;
			font-weight: 700;
			padding: 0 15px;
			top: -12px;
			left: -12px;
			z-index: 10;
			border-radius: 5px;
			height: 30px;
		}
		margin-bottom: 3px;
	}

	&-articale {
		font-size: 12px;
		line-height: lh(12,26);
		color: #666;
		span {
			color: #999;
		}

		margin-bottom: 9px;
	}

	&-text {
		margin-bottom: 4px;
		min-height: 60px;
	}

	&-price-box {
		font-size: 16px;
		line-height: lh(16,26);
		margin-bottom: 9px;

		.price-old {
			color: #666;
			padding: 0 4px;
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #666;
				content: '';
			}

			&--red {
				&::before {
					background-color: #ED4C5C;
				}
			}
		}

		.border {
			background: #339933;
			color: #fff;
			padding: 3px 7px;
			border-radius: 3px;
		}
	}

	&-stock {
		font-size: 14px;
		line-height: lh(14,16);
		margin-bottom: 13px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		&::before {
			width: 22px;
			height: 22px;
			background: url("../img/icon/arr/arr-green.svg");
			content: '';

		}

	}

	&-sel {
		display: flex;
		align-items: center;
		justify-content: space-between;
		input {
			width: 56px;
			height: 40px;
			border: 1px solid #CDCDCD;
			border-radius: 5px;
			padding: 0 5px 0 15px;
		}
		&-basket {
			width: 75px;
			height: 40px;
			max-height: 40px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			&::before {
				width: 30px;
				height: 29px;
				background: url("../img/icon/cart_black.svg");
				content: '';
			}
			&.orange {
				background-color: transparent;
				border: 2px solid #FFB444;
				&::before {
					background: url("../img/icon/cart_orange.svg");
				}
			}
		}

		&-cart {
			height: 40px;
			max-height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			padding: 0 18px;
			background-color: #FFCB00;
		}


		&-favorites {
			width: 19px;
			height: 17px;
			background: url("../img/icon/heart-hit.svg");
			&.orange {
				background: url("../img/icon/heart-orahge.svg");
			}
		}
		&-bar {
			width: 14px;
			height: 18px;
			background: url("../img/icon/bar-hit.svg");
			&.orange {
				background: url("../img/icon/bar-orange.png");
			}
		}
	}
}

.item-product-line {
	border-bottom: 1px solid #EAEAEA;
	display: flex;
	gap: 10px;
	padding: 20px 0;

	&__img-box {
		margin-left: 18px;
		min-width: 140px;
		min-height: 140px;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	&__descr-box {
		margin-left: 48px;
		max-width: 640px;
		display: flex;
		flex-direction: column;
		gap: 16px;

		&__text {
			font-size: 16px;
			line-height: lh(16,26);
		}

		&__artical {
			color: #666;
			span {
				color: #999;
			}
		}

		&__stock-box {
			min-height: 26px;
			display: flex;
			align-items: center;
			&__quantity {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 5px;
				&::before {
					width: 22px;
					height: 22px;
					background: url("../img/icon/arr/arr-green.svg");
					content: '';
				}

			}

			&__favorites {
				width: 19px;
				height: 17px;
				background: url(../img/icon/heart-hit.svg);
				margin-left: auto;
				cursor: pointer;
				&:hover {
					background: url(../img/icon/heart-orahge.svg);
				}
			}

			&__delete {
				width: 20px;
				height: 20px;
				background: url("../img/icon/del-basket-bar.svg");
				margin-left: auto;
				cursor: pointer;
				&:hover {
					background: url("../img/icon/del-basket-bar-hover.svg");
				}
			}

			&__bar {
				margin-left: 20px;
				width: 14px;
				height: 18px;
				background: url(../img/icon/bar-hit.svg);
				cursor: pointer;
				&:hover {
					background: url(../img/icon/bar-orange.png);
				}
			}
		}

	}

	&__spec-box {
		margin-left: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&-rotate {
			margin-bottom: 20px;
			display: flex;
			gap: 38px;
			&.show {
				.popup-cart-list {
					// transform: rotateX(0);
					visibility: visible;
					opacity: 1;
				}
				.item-product-line__spec-box-rotate-icon {
					width: 30px;
					height: 24px;
					border-radius: 5px;
					background: #3E4347;
					display: flex;
					align-items: center;
					justify-content: center;
					&::after {
						width: 11px;
						height: 11px;
						background: url(../img/icon/circle-item.svg);
						content: '';
					}
				}
			}


			&-icon {
				width: 25px;
				height: 25px;
				background: url(../img/icon/rotate-item.svg);
				cursor: pointer;
				position: relative;
				&:hover {
					background: url(../img/icon/rotate-item-hover.svg);
				}
			}

			&-circle {


				cursor: pointer;
				position: relative;
				&:hover {
					& > .popup-cart-list {
						// transform: rotateX(0);
						visibility: visible;
						opacity: 1;
					}
				}

			}

		}

		&__price {


			display: flex;
			gap: 25px;
			font-weight: 700;
			font-size: 20px;
			&-text {
				width: 82px;
			}
		}

		&__quan-box {
			height: 40px;
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			gap: 25px;
			input {
				width: 82px;
				font-weight: 400;
				font-size: 16px;
				padding-left: 13px;
				height: 100%;
				border: 1.5px solid #CDCDCD;
				border-radius: 5px;
			}

			&__basket {
				width: 30px;
				height: 30px;
				background: url("../img/icon/del-grey.svg");
				&:hover {
					background: url("../img/icon/del-grey-hover.svg");
				}
			}

			.btn {
				font-weight: 500;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 40px;
				width: 120px;
			}

		}

		&__unit {
			font-size: 13px;
			line-height: lh(13,18);
			color: #666;
			strong {
				color: #000;
			}
		}
	}



}

.product-list--column {
	.item-product-line {
		&__img-box {
			margin-bottom: 9px !important;
		}

		&__descr-box {
			margin-left: 48px;
			max-width: 640px;
			display: flex;
			flex-direction: column;
			gap: 0 !important;

			&__artical {
				line-height: 26px;
				margin-bottom: 3px;
				span {
					color: #999;
				}
			}



			&__stock-box {
				min-height: 26px;
				display: flex;
				align-items: center;
				&__quantity {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					&::before {
						width: 22px;
						height: 22px;
						background: url("../img/icon/arr/arr-green.svg");
						content: '';
					}

				}

				&__favorites {
					width: 19px;
					height: 17px;
					background: url(../img/icon/heart-hit.svg);
					margin-left: auto;
					cursor: pointer;
					&:hover {
						background: url(../img/icon/heart-orahge.svg);
					}
				}
				&__bar {
					margin-left: 20px;
					width: 14px;
					height: 18px;
					background: url(../img/icon/bar-hit.svg);
					cursor: pointer;
					&:hover {
						background: url(../img/icon/bar-orange.png);
					}
				}
			}

		}

		&__spec-box {
			&__price {
				margin-bottom: 11px !important;
			}
			&__quan-box {
				gap: 3px;
				justify-content: space-between !important;
				.btn {
					width: 75px;
					&::before {
						width: 30px;
						height: 29px;
						background: url(../img/icon/cart_black.svg);
						content: "";
					}
				}

				.item-product-line__descr-box__stock-box__favorites {
					margin-left: 0;
				}
				.item-product-line__descr-box__stock-box__bar {
					margin-left: 0;
				}
			}
			.item-product-line__spec-box__unit {
				display: none;
			}

			input {
				width: 58px;
			}




		}

	}
}
