.table-custom {
	margin-bottom: 80px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	&__title {
		display: grid;
		grid-template-columns: 22px 1fr 152px 92px 60px;
		color: #999;
		border-bottom: 2px solid #C8C8C8;
		min-height: 33px;
	}

	&__item {
		display: grid;
		grid-template-columns: 22px 1fr 152px 92px 60px;
		color: #333;
		min-height: 77px;
		align-items: center;
		position: relative;
		border-bottom: 1px solid #EAEAEA;
	}
}

.table-compare {

	.hide {
		display: none;
	}
	&.show {
		.hide {
			display: block;
		}
	}

	.title {
		padding: 28px 34px 13px;
		color: #000;
		font-size: 16px;
		font-weight: 600;
		line-height: 18px; /* 112.5% */
		padding-bottom: 23px;
		border-bottom: 1px solid #EAEAEA;
	}
	.row {
		padding: 18px 34px 13px              ;
		min-height: 75px;
		border-bottom: 1px solid #EAEAEA;
		color: #000;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px; /* 157.143% */

		&__tr {
			display: flex;
			gap: 62px;
		}
		&__caption {
			color: #666;
			font-weight: 400;

		}
		&__td{
			color: #000;
			font-weight: 500;
			min-width: 160px;
		}
	}
}
