- var class_slider = 'slider-reviews'
section(class=`${class_slider}`)
    div(class=`${class_slider}__inner`)

        div(class=`${class_slider}__swiper swiper-container`)

            .swiper-wrapper
                mixin item(img, title, descr)
                    a(class=`swiper-slide` href = '#')
                        p Заказывала душевое ограждение, сроки выдержаны, доставка и установка так же, бригадир монтажников перед установкой приехал, все четко проверил, при чем при выкладке подиума под кабинку всегда был на связи, за что большое спасибо! Вот нареканий никаких! Сотрудники офиса всегда на связи, внимательны! Особо хочется отметить монтажников, ребята молодые, работали на совесть, тихо аккуратно, все чётко 👌 вот все бы так относились к своей работе! На данный момент ни каких замечаний, так как только сегодня установили, теперь посмотрим в эксплуатации! Спасибо 🙏

                +item('1.jpg', '1')
                +item('2.jpg', '2')
                +item('3.jpg', '3')
                +item('4.jpg', '4')
                +item('5.jpg', '5')
                +item('6.jpg', '5')

