- var class_name = 'breadcrumps'
section(class=`${class_name} mb__60`)
    div(class=`container`)
        a(href='') Главная
        if(title === 'Каталог')
            a(href='') / Каталог
        if(title === 'Каталог лист')
            a(href='') / Каталог
            a(href='') / Пружины для сельскохозяйственной техники
