- var menu = 'cat-menu'
div(class=`${menu}__box`)

    nav(class=`${menu}__nav container`)
        ul
            h3 Пружины

            li: a(href='#') Пружины сжатия
            li: a(href='#') Пружины растяжения
            li: a(href='#') Пружины кручения
            li: a(href='#') Мебельные пружины
            li: a(href='#') Пружины квадратного и п/у сечения
            li: a(href='#') Пружины типа zig zag
            li: a(href='#') Нестандартные пружины
            li: a(href='#') Автомобильные пружины


        ul
            h3 Пружины по назначению

            li: a(href='#') Пружины для сельскохозяйственной техники
            li: a(href='#') Пружины пассажирских и грузовых лифтов
            li: a(href='#') Пружины подвесок и опор трубопровода
            li: a(href='#') Манжетные пружины
            li: a(href='#') Пружины оплетки шланга
            li: a(href='#') Пружины для детских качалок
            li: a(href='#') Пружины для гильотин
            li: a(href='#') Пружины нефтегазового оборудования
            li: a(href='#') Пружины дробильно-сортировочного оборудования
            li: a(href='#') Пружины для оборудования
            li: a(href='#') Пружины для спец техники и автокомпоненты

        ul
            h3 Гибка проволоки
            li: a(href='#') Zig zag проволочны
            li: a(href='#') Крючки из проволоки
            li: a(href='#') Зацепы для гамаков


        ul
            h3 Продукция
            li: a(href='#') Скобы
            li: a(href='#') Спицы
            li: a(href='#') Колышки теплиц
            li: a(href='#') Опорные рамки
            li: a(href='#') Крючки для подвесов
            li: a(href='#') Кронштейны
            li: a(href='#') Подвес лотка


