.header {
	color: #000;
	font-size: 20px;
	font-weight: 600;


	@import "row1";

	@import "row2";

    &--fixed {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1440px;
        background-color: #fff;
        z-index: 99;
        height: initial !important;
        transition: opacity .3s;
        opacity: 0;
        visibility: hidden;
        .header-row1 {
            display: none;
        }
        &.show {
            opacity: 1;
            visibility: visible;
        }
    }

}
