&-row2 {
	display: flex;
	align-items: center;
	gap: 5px;

	&__cat-wrapper {
		display: flex;
		align-items: center;
		gap: 58px;
		min-width: 280px;
		position: relative;
		color: #fff;
		min-height: 80px;
		font-weight: 400;
		&::before {
		    position: absolute;
		    top: 0;
			right: 0;
			width: 1500px;
			height: 100%;
			z-index: -1;
			@include gradient();
			content: '';
		}

		.burger {
			width: 38px;
			height: 20px;
			position: relative;
			cursor: pointer;

			span, &::before, &::after {
				position: absolute;
				left: 0;
				display: inline-block;
				min-width: 100%;
				transform: rotate(0);
				height: 2px;
				background-color: #fff;
				content: '';

			}
			span {
				top: 50%;
				transform: translateY(-50%);

			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}

		}

		&.show {
			//background-color: rgba(0, 0, 0, .7);
			//position: absolute;
			//top: 0;
			//bottom: 0;
			//left: 0;
			//right: 0;
			//margin-right: 0;
			//margin-left: 0;
			//max-width: 100%;
			//z-index: 1000;

			.burger {
				position: absolute;
				top: 30px;
				right: 30px;

				span, &::before, &::after {
					transition: transform .3s ease-in-out;
				}

				span {
					transform: translateY(0) rotate(-45deg);
				}

				&::after {
					display: none;
				}

				&::before {
					top: 50%;
					transform: rotate(45deg);
				}


			}


		}

	}


	.header-menu {
		margin-left: auto;
		margin-right: 50px;
		max-width: 670px;
		width: 100%;

		ul {
			width: 100%;
			display: flex;
			gap: 10px;
			justify-content: space-between;
		}

		.burger {
			width: 38px;
			height: 20px;
			position: relative;
			cursor: pointer;
			margin-left: auto;
			display: none;

			span, &::before, &::after {
				position: absolute;
				left: 0;
				display: inline-block;
				min-width: 100%;
				transform: rotate(0);
				height: 2px;
				background-color: #000;
				content: '';
				// transition: transform .25s ease-in-out;
			}
			span {
				top: 50%;
				transform: translateY(-50%);

			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}

		}


		@media (max-width: 900px) {
			ul {
				display: none;
			}

			.burger {
				display: flex;
			}

			&.show {
				background-color: rgba(0, 0, 0, .7);
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin-right: 0;
				margin-left: 0;
				max-width: 100%;
				z-index: 1000;

				.burger {
					position: absolute;
					top: 30px;
					right: 30px;

					span, &::before, &::after {
						transition: transform .3s ease-in-out;
					}

					span {
						transform: translateY(0) rotate(-45deg);
					}

					&::after {
						display: none;
					}

					&::before {
						top: 50%;
						transform: rotate(45deg);
					}


				}

				ul {
					display: flex;
					flex-direction: column;
					background-color: #fff;
					padding: 20px;

				}
			}
		}








	}





}
