.page-product {

	h1 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 56px;
	}

	.product {
		margin-bottom: 50px;

		&__box {
			display: flex;

			.slider {
				flex-grow: 1;
				max-width: 445px;

                .slider__top-img {
                    .slide {
                        margin-right: 0 !important;
                    }
                }


                &__top-block {
                    position: relative;
                    margin-bottom: 36px;
                }

                &__arr-last, &__arr-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 20px solid transparent;
                    cursor: pointer;
                }

                //&__arr-last {
                //    left: 10px;
                //    border-right: 15px solid #387cb8;
                //}
                //
                //&__arr-next {
                //    right: 10px;
                //    border-left: 15px solid #387cb8;
                //}

                &__thumbnail-block {
                    width: 100%;
                    overflow: hidden;
                    margin: 0 auto;

                    .wrapper {
                        display: flex;
                    }
                    .slide {
                    }

                }


			}


			.right-box {
				flex-grow: 1;
				max-width: 463px;
				margin-left: auto;

                &__spesification {
                    padding: 10px 0;
                    font-size: 14px;
                    font-weight: 300;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
                }

                .btn {
                    margin-top: 44px;
                    font-size: 18px;
                    font-weight: 600;
                    min-width: 270px;
                }






			}
		}
	}

    .tab {
        margin-bottom: 120px;
        &__nav {
            display: flex;
            gap: 7px;
        }

        &__link {
            min-width: 164px;
            max-width: 164px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 5px;
            min-height: 50px;
            border: 1px solid rgba(26, 107, 163, 0.30);
            margin-bottom: 20px;
            &--active {
                @include gradient();
                color: #fff;
                border: none;
            }
            &:hover {
                opacity: .7
            }
        }

        &__content-item {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 1s;
            border: 1px solid rgba(0, 0, 0, 0.20);
            font-size: 14px;
            font-weight: 400;

            &--active {
                height: auto;
                opacity: 1;
                overflow: visible;
                padding: 55px 24px 82px;
            }
        }

    }

    .similar-product {
        margin-bottom: 40px;
        h3 {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 50px;
        }
        &__list {
            margin-bottom: 120px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            @import "../_parts/cards/item-simular";
        }
        .btn--blue {
            background: #0E3D5D;
            min-width: 516px;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 100px;
        }
    }

}

@import "../_parts/sliders/slider-reviews";











