- var item_good = 'item-list'
mixin goods(list)
    each item in list
        div(class=`${item_good}`)
            div(class=`${item_good}__name`)= item.name
            div(class=`${item_good}__img-box`)
                img(src=`assets/img/content/section4/${item.img}` alt=`#`)




