.slider-cat {
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 10px;
	margin-bottom: 120px;

	&__inner {
		.swiper {
			&-container {
				max-width: 979px;
				width: 100%;
				overflow: visible;
			}
			&-slide {
				border: 1px solid #1A6BA3;
				display: flex;
				background-color: #D9D9D9;
				height: 420px;
			}



		}

	}


    @media(max-width: 1050px) {
        &__inner {
            .swiper {
                &-container {
                    max-width: 700px;
                }
            }
        }
    }

    @media(max-width: 700px) {
        &__inner {
            .swiper {
                &-container {
                    max-width: 330px;
                }
                &-slide {
                    height: 142px;
                }
            }

        }
    }
}
