.slider-clients {
    position: relative;
    margin-bottom: 120px;

    &__container {
        max-width: 811px;
        margin: 0 auto;
    }


    .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 99px;
    }

    .swiper-button {
        &-prev, &-next {
            width: 38px;
            height: 23px;
            background: url("../img/icon/arr-slider.svg") no-repeat;
            top: calc(50% - 11px);
        }

        &-prev {
            left: 15px;
        }
        &-next {
            right: 15px;
            transform: rotate(180deg);
        }

    }

    @media(max-width: 400px) {
        &__container {
            max-width: 196px;
        }


    }

}
