- var class_name = 'offer'
section(class=`${class_name} `)
    div(class=`container`)
        h1.title Производство пружин и изделий из проволки для всех отраслей промышленности
        p Изготовление деталей из мягкой и жёсткой проволоки Ø от 1,4 до 13 мм

        div(class=`${class_name}__btns`)
            button(class='btn' data-show="[data-popup='fast-order']") Заказать расчёт

            button(class="btn" data-show="[data-popup='fast-order']") Заказать звонок



include ../../parts/advantages
