- var class_name = 'on-springs'
section(class=`${class_name} container`)
    if(title === 'Главная')
        h2(class='title__decor') Пружины по применению и назначению
    if(title === 'Каталог')
        div(class='title__cat') По применяемости:

    div(class=`${class_name}__list`)
        include ../../parts/card/item-on-springs
        +goods([
            {
                'img': '1.jpg',
                'name': 'Пружины для <br> сельскохозяйственной техники',
            },
            {
                'img': '2.jpg',
                'name': 'Пружины пассажирских <br> и грузовых лифтов',
            },
            {
                'img': '3.jpg',
                'name': 'Пружины дробильно-сортировочного оборудования',
            },
            {
                'img': '4.jpg',
                'name': 'Пружины нефтегазового<br> оборудования',
            },
            {
                'img': '5.jpg',
                'name': 'Пружины для спец техники<br> и автокомпоненты',
            },
            {
                'img': '6.jpg',
                'name': 'Пружины для оборудования',
            },
            {
                'img': '7.png',
                'name': 'Пружины для гильотин',
            },
            {
                'img': '8.jpg',
                'name': 'Пружины оплетки шланга',
            },
            {
                'img': '9.jpg',
                'name': 'Пружины для детских качалок',
            },
            {
                'img': '10.jpg',
                'name': 'Манжетные пружины',
            },
            {
                'img': '11.jpg',
                'name': 'Пружины подвесок и опор<br> трубопровода',
            },
        ])







