- var class_name = 'coast-popup'
section(class=`${class_name} `)
	div(class=`container`)
		h2 Отправьте нам заявку на расчет стоимости
		p Оставьте ваши контакты и мы перезвоним вам в ближайшее время
		button(class="btn" data-show="[data-popup='fast-order']") Рассчитать стоимость
