- var class_name = 'about'
section(class=`${class_name} `)
	div(class=`container`)
		h2.title__decor О компании

		div(class=`${class_name}__inner`)
			div(class=`${class_name}__left`)
				h3 Компания «Нижегородский пружинный завод» предлагает услуги по производству пружин, трёхмерной и двухмерной гибке проволоки
				p На предприятии работает современное оборудование: одноголовочные и двухголовочные станки с ЧПУ, станции гибки проволоки в 2D и 3D-формате, запущена линия для производства пружин типа «ZIG-ZAG 
				p Каждое изделие проходит 4 ступени ОТК: входной контроль, журнал первой детали, периодический контроль, выходной контроль
				p Завод аттестован в соответствии с системами менеджмента качества ГОСТ Р ИСО 9001 - 2015, ISO 9001:20015 и ГОСТ Р 58139-2018 «Производство частей и принадлежностей автомобилей»
				p Для разработки конструкторской документации по образцу или техническому заданию заказчика создан свой конструкторский отдел
				a(class=`btn` href='/') Подробнее

			div(class=`${class_name}__right`)
				img(src=`assets/img/content/about.jpg` alt=`#`)
