- var class_name = 'about'
section(class=`${class_name} `)
	div(class=`container`)
		h2.title__decor О компании

		div(class=`${class_name}__inner`)
			div(class=`${class_name}__left`)
				p Текст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст Текст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст о компанииТекст
				a(class=`btn` href='/') Подробнее

			div(class=`${class_name}__right`)
				img(src=`assets/img/content/about.jpg` alt=`#`)
