- var class_name = 'equipment'
section(class=`${class_name} container`)
	h2(class='title__decor') Оборудование

	div(class=`${class_name}__list`)
		include ../../parts/card/item-equipment
		+goods([
				{
					'img': '1.jpg',
					'name': 'Консольный двухголовочный гибочный станок',
					'descr': 'Гибка проволоки Ø от 2 до 7 мм. Длина развертки деталей до 2400 мм',
				},
				{
					'img': '2.jpg',
					'name': 'Одноголовочный станок для гибки проволоки',
					'descr': 'Гибка проволоки <br>Ø от 4 до 13 мм.',
				},
				{
					'img': '3.jpg',
					'name': 'Одноголовочный станок для гибки проволоки',
					'descr': 'Гибка проволоки <br>Ø от 2 до 7 мм.',

				},
				{
					'img': '4.jpg',
					'name': 'Участок термической обработки',
					'descr': 'Термическая обработка изделий и заготовок из металла',
				},
				{
					'img': '5.jpg',
					'name': 'Линия по производству пружин типа «Zig-Zag»',
					'descr': 'Гибка проволоки <br>Ø от 2 до 5 мм.',
				},
				{
					'img': '6.jpg',
					'name': 'Автоматический бескулачковый станок с ЧПУ',
					'descr': 'Производство пружин <br> Ø от 1,4 до 6 мм.',
				},
			])
