extends _includes/pug/template.pug

append config
    - var title = 'Каталог лист';

block main
    main(class = 'page-catalog-list')
        include _includes/pug/parts/breadcrumps
        include _includes/pug/pages/catalog-list/01-list
        include _includes/pug/pages/catalog-list/02-card-list


        div(class='content' style='margin-bottom: 168px')
            p Текст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текст
        include _includes/pug/parts/advantages
        include _includes/pug/pages/index/04-coast-popup
        include _includes/pug/pages/index/09-clients



























