extends _includes/pug/template.pug

append config
    - var title = 'Каталог';

block main
    main(class = 'page-catalog')
        include _includes/pug/parts/breadcrumps
        include _includes/pug/pages/index/02-springs
        include _includes/pug/pages/index/03-on-springs
        include _includes/pug/pages/index/11-bottom-slider
        div(class='content' style='margin-bottom: 168px')
            p Текст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текстТекст текст текст текст
        include _includes/pug/parts/advantages
        include _includes/pug/pages/index/04-coast-popup
        include _includes/pug/pages/index/09-clients



























