extends _includes/pug/template.pug

append config
	- var title = 'Главная';

block main
	main(class = 'page-home')
		include _includes/pug/pages/index/01-offer
		include _includes/pug/pages/index/02-springs
		include _includes/pug/pages/index/03-on-springs
		include _includes/pug/pages/index/04-coast-popup
		include _includes/pug/pages/index/05-about
		include _includes/pug/pages/index/10-form
		include _includes/pug/pages/index/06-equipment
		include _includes/pug/pages/index/08-steps
		include _includes/pug/pages/index/09-clients
		include _includes/pug/pages/index/11-bottom-slider



























