extends _includes/pug/template.pug

append config
	- var title = 'Каталог лист';

block main
	main(class = 'page-product')
		include _includes/pug/parts/breadcrumps

		include _includes/pug/pages/product/02-product
		include _includes/pug/pages/product/03-tab
		include _includes/pug/pages/product/04-similar-products
		// include _includes/pug/parts/sliders/reviews
		include _includes/pug/parts/advantages
		include _includes/pug/pages/index/04-coast-popup
		include _includes/pug/pages/index/09-clients



























