.footer {
	padding: 104px 0 120px 0;
	background-color: #1D1D1D;
	color: #fff;

	&__row {
		display: flex;
		justify-content: space-between;
        gap: 5px;

		&-left {
			flex-grow: 1;
			max-width: 400px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			font-size: 16px;
			font-weight: 600;
		}

		&-right {
			max-width: 248px;
			flex-grow: 1;
			gap: 40px;
			display: flex;
			flex-direction: column;
			align-items: end;

			.phone{
				font-size: 25px;
				font-weight: 600;
				display: flex;
				align-items: flex-end;
				gap: 9px;
				line-height: 1;
				&::before {
					width: 22px;
					height: 22px;
					background: url("../img/icon/phone.svg") no-repeat;
					content: '';
				}

			}

			.mail{
				font-size: 25px;
				font-weight: 600;
				display: flex;
				align-items: flex-end;
				gap: 9px;
				line-height: 1;
				width: 100%;
				&::before {
					width: 22px;
					height: 22px;
					background: url("../img/icon/email.svg") no-repeat;
					content: '';
				}

			}

			.btn{
				min-width: 100%;
			}

			.sohial {
				display: flex;
				gap: 20px;
				margin-top: auto;
				a {
					width: 20px;
					height: 20px;
				}
				&__tw {
					background: url("../img/icon/sohial/telegram.svg") no-repeat;
				}
				&__whatsap {
					background: url("../img/icon/sohial/whatsapp.svg") no-repeat;
				}
				&__viber {
					background: url("../img/icon/sohial/viber.svg") no-repeat;
				}
			}
		}

		nav {
			width: 210px;
			font-weight: 400;
			font-size: 16px;
			h2 {
				font-weight: 700;
				font-size: 20px;
				margin-bottom: 20px;
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: 15px;

			}
		}
	}


}

@media (max-width: 1100px) {
    .footer {
        &__row {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    }
}


@media (max-width: 600px) {
    .footer {
        padding: 64px 0 64px ;
        &__row {
            justify-content: start;

            &-left {
                flex-grow: 1;
                order: -2;
                gap: 28px;
            }


            &-right {
                max-width: 100%;
                width: 100%;
                gap: 22px;
                align-items: start;
                order: -1;
                margin-bottom: 55px;


                .phone{
                    font-size: 18px;
                }

                .mail{
                    font-size: 18px;
                }

                .btn{
                    min-width: 228px;
                    max-width: 228px;
                }

                .sohial {
                    display: none;
                }
            }

            nav {
                font-size: 14px;
                &:nth-child(2) {
                    max-width: 183px;
                }
                &:nth-child(3) {
                    max-width: 128px;
                }
            }

        }
    }
}
