.item-on-springs {
	position: relative;
	height: 206px;
	border: 1px solid #000;
	padding: 23px 20px;
	img {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	&__name {
		flex-grow: 1;
		display: flex;
		align-items: center;

		font-size: 20px;
		font-weight: 600;


	}

}

.item-list {
    min-height: 206px;
    border: 1px solid #000;
    padding: 23px 20px;
    min-width: 380px;
    display: flex;
    flex-direction: column;

    &__img-box {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 116px;
    }

    &__name {
        margin-bottom: 10px;
        flex-grow: 1;
        font-size: 20px;
        font-weight: 600;
   }

    @media(max-width: 795px) {
        min-width: 100%;
    }


}
