.item-on-springs {
	position: relative;
	height: 206px;
	border: 1px solid #000;
	padding: 23px 20px;
	img {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	&__name {
		flex-grow: 1;
		display: flex;
		align-items: center;

		font-size: 20px;
		font-weight: 600;


	}

}
